body {
    text-align: center;
}

#comms {
    width: 100%;
}

.commrow {
    background-color: #474975;
    
    display: flex;
        flex-direction: column;
        align-items: center;

    padding: 2rem;
}
.imagerow {
    width: 100%;

    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    margin-bottom: 1rem;
}
.imagerow > img {
    height: 20rem;

    border: 8px solid black;
}

.caption > p {
    margin: 0;
    padding: 0;
}